<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    
    <mat-toolbar class="sidenav-toolbar">
      ChatAPP 
      <img class="avatar-header"  />
    </mat-toolbar>
    <div class="sidenav-items">
      <div class="sidenav-content">
        <mat-nav-list>
          <a mat-list-item href="/home/firstwindow" class="nav-elements"><mat-icon>home</mat-icon> Home</a>
          <a mat-list-item href="/home/friends" class="nav-elements"><mat-icon>group</mat-icon> Friends</a>
          <a mat-list-item href="/home/addfriend" class="nav-elements"><mat-icon>add</mat-icon> Add Friend</a>
          <a mat-list-item href="/home/group" class="nav-elements"><mat-icon>groups</mat-icon> Groups</a>
          <a mat-list-item  (click)="openDialog()" class="nav-elements"><mat-icon>add</mat-icon> Create Group</a>
        </mat-nav-list>
    
        <mat-nav-list class="bottom-nav">
          <img class="avatar" (click)="openUserDetails()" [src]="'http://localhost:8080' + (this.apiService.connectedUser$ | async)?.avatar" (error)="this.apiService.onImageFail($event)" alt="User Avatar" />
          <p class="username">{{(this.apiService.connectedUser$ | async)?.fullName}}</p>
          <button mat-raised-button style="color: black;" (click)="onLogout()">Logout</button>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Application</span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
