.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   // background: #f9f9f9;
    background: rgb(238, 233, 187);
}

.matTab {
    background: rgba(255, 255, 255);
    ;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

